:root{
    --blue-color: #4B40C5 ;
    --orange-color: #EC682C;;
 }
 *,
 *::after,
 *::before{
        box-sizing: border-box;
 }
 body{
      width: 100%;
      height: 100vh;
      margin: 0px;
      font-family: 'Poppins', sans-serif;
      padding: 0px;
 }
 header{
      background-image: url(img/unsplash_ELf8M_YWRTY.png);
      width: 100%;
       height: 100vh; 
      background-repeat: no-repeat;
      background-size: cover; 
      background-position: center;
      display: flex;
      position: relative;
      overflow: hidden;
}
.logo{
     font-weight: 400;
     color: #000;
     padding-right: 50px;
     width: 314px;
     height: 45px;
     font-size: 35px;
     border: 1px;
     font-family: 'Peralta', serif;
  } 
  nav{
     display: flex;
     justify-content:space-evenly;
     align-items: center;
     padding: 8px  8px;
  }
  nav ul{
     display: flex;
     align-items: center;
     gap: 60px;
     list-style: none;
     text-decoration: none;
     margin: 45px; 
     
  }
  nav,ul,li,a{
     font-weight: bold;
     font-size: 17px;
     color: #212832;
     text-decoration: none;
     margin-left: 8px;
}
.middle{
   text-align: start;
  position: relative;
  top: 190px;
}
.middle>h1{
width: 1108px;
height: 89px;
top: 387px;
left: 41px;
font-size: 45px;
font-weight: bold;
line-height: 118px;
letter-spacing: -0.04em;
text-align: left;
}
.middle>p{
   width: 757px;
height: 47px;
top: 476px;
left: 50px;
font-size: 25px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
color:#FFFFFF;
}
.middle>a{
   width: 228.00958251953125px;
height: 75.88206481933594px;
top: 549px;
left: 50px;
border-radius: 13.301215171813965px;
}
.btn{
   padding: 8px, 20px, 8px, 20px;
   border-radius: 8px;
   color: #fff;
   display: inline-block;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   position: relative;
}
.btn.light{
   background-color: #EC682C;
   width: 100px;
   height: 40px;
   border: 1px;
}